[Unit]
Description=Telegram logger service
Wants=network-online.target
After=network-online.target

[Service]
User=telegram_logger
Group=telegram_logger
WorkingDirectory=/opt/telegram_logger
EnvironmentFile=/etc/telegram_logger/.env
ExecStart=/usr/bin/python3 -m telegram_logger
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
