[tool.ruff]
target-version = "py38"
line-length = 99
exclude = [
    ".git",
    ".venv",
]

[tool.ruff.lint]
select = [
    "E",
    "F",
    "I",
    "S",
    "SIM",
    "RET",
]
ignore = [
    "C901",
    "ASYNC230",
    "ASYNC240",
]